:root {
    font-size: 100vh;
}
html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.canvas {
    width: 1040px;
    height: 1040px;
    position: relative;
}

@media (orientation: portrait) {
/*    :root {
        font-size: 100vw;
    }
    .canvas {
        width: 100vw;
        height: 100vw;
    }*/
}

.p-1var {
    background-color: #efefef;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.wheel {
    color: #ccc;
    background-color: #333;
    width: 26.8125%;
    height: 26.8125%;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: revolution;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
.wheel::before {
    content: '';
    position: absolute;
    background-color: currentColor;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.wheel::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: currentColor;
}

.p-9 {
    background: transparent url(svg/p-9.svg) 50% no-repeat;
    background-size: 100% 100%;
    width: 200px;
    height: 200px;
    top: 80px;
    left: 80px;
    animation-name: revolution;
    animation-direction: normal;
    animation-duration: 2.5s;
    animation-timing-function: steps(40, end);
}

.p-9::before,
.p-9::after {
    display: none;
}

.escapement {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 80px;
    left: 80px;
}

.escapement::before,
.escapement::after {
    background-color: #000;
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    animation-name: escapement;
    animation-direction: normal;
    animation-timing-function: step-end;
    animation-duration: 0.125s;
    animation-iteration-count: infinite;
}

.escapement::before {
    left: 69px;
    top: 7px;

}

.escapement::after {
    left: 139px;
    top: 15px;
    animation-direction: reverse;
}



.p-10 {
    color: gray;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation-duration: 60s;
    animation-timing-function: steps(60, end);
    background-color: transparent;
}

.p-11 {
    color: orange;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation-duration: 60s;
    animation-timing-function: steps(480, end);
    background-color: transparent;
}

@keyframes revolution {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes escapement {
    from {
        visibility: visible;
    }
    50% {
        visibility: hidden;
    }
    to {
        visibility: visible;
    }
}
